.bug-reporter {

  &__alert {
    margin: 10px;
  }

  &__wrapper {
    text-align: center;
    padding: 25px;

    & > div > button {
      margin-top: 25px; // this is bad, but okay to use for the demo
    }
  }

  &__questions-wrapper {
    padding: 25px;
    max-width: 800px;
    margin: 0 auto;
  }

  &__submit-button {
    text-transform: uppercase;
  }

}


.bug-reporter-question {

  margin: 10px;

  &__error {
    color: red;
    text-align: right;
    text-transform: capitalize;
  }

  &__error::before {
    content: "* ";
  }

  &__label {
    text-align: right;
    width: 250px;
    float: left;
    margin-right: 10px;
  }

  &__input {
    width: 450px;
  }

}
